# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Миграции
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/

# Логи
*.log

# Базы данных
*.sqlite3

# Файлы конфигурации
.env
*.env

# Статические файлы
/static/
media/

# Директории виртуального окружения
venv/
env/
ENV/
env.bak/
venv.bak/

# Пакеты
*.egg-info/
dist/
build/

# IDE и редакторы
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
